#app {
    margin: 20px;
}
.contactForm {
    width: 600px;
}
.contactsList {
    padding: 0px;
    border: solid black;
    border-radius: 1%;
    width: 600px;
}
.contactItem {
    background-color:coral; 
    padding: 10px;    
}
.contactItem > p {
    background-color:white;
}
.contactLabel{
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
}
.contactImage {
    width: 10%;
    height: 10%;
}
a {
    text-decoration: none;
    color: black;
    text-align: end;
    padding: 5px;
}
a:hover {
    color: rebeccapurple
}
