@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800i');

#app { 
    margin: 1% 20% 1% 20%;
    background-color: lightgrey;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.form {
    text-align: center;
    margin: 10px;
}

.user{
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    height: 125px;
    background-color: whitesmoke;
}

.user:hover{
    border: 3px solid dodgerblue;
}

.userName {
    margin: 30px;
    padding-left: 20px;
}