html
    head
        title Przykładowa strona
    body
        include ./header.pug
        form(action="http://localhost:3000/userform" method="GET" style="margin: 10px 0px 10px 0px")
            label(for="first_name") First Name: 
            input(type="text" name="first_name")

            label(for="last_name") Last Name:  
            input(type="text" name="last_name")

            button(type="submit") Submit
        a(href="/auth/google") Logowanie google
        include ./footer.pug